<%
@str = ""
@i = 0

def create_nav(h,path="")
  return if h == nil
  h.each do |k,v|
    @i += 1
    if k.end_with?(".md") || k.end_with?(".MD") || k.end_with?(".markdown") || k.end_with?(".mdown")
      html_path = k.gsub(/.md|.MD|.markdown|.mdown/, '.html')
      @str << "<ul class='nav nav-list'><li><a href=\"#\" res=\"#{path}/#{html_path}\">#{k}</a></li></ul>"
    else
      ## Accordion Header
      @str << "<div class='accordion-group'>
                <div class='accordion-heading'>
                  <a class='accordion-toggle' data-toggle='collapse' href='#collapse#{@i}'>
                    #{k}
                  </a>
                </div>
                <div id='collapse#{@i}' class='accordion-body collapse'>
                    <div class='accordion-inner'>
              "

      create_nav(v, "#{path}/#{k}") if v != nil && v.is_a?(Hash)

      ## End Accordion Header
      @str << "</div></div></div>"
    end
  end
end
%>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#"><%= @title %></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span<%= @cli[:wide] ? "3" : "2"%>">
      <div class="well sidebar-nav">
        <div class='accordion'>
          <% @index_hash.each do |k,v| %>
            <div class='accordion-group'>
              <div class='accordion-heading'>
                <a class='accordion-toggle' data-toggle='collapse' href='#collapse<%= @i %>'>
                  <%= k %>
                </a>
              </div>
              <div id='collapse<%= @i %>' class='accordion-body collapse'>
                <div class='accordion-inner'>
                  <% @i += 1
                     @str = ""
                     create_nav(v,k)
                  %>
                  <%= @str %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div><!--/.well -->
    </div><!--/span-->
